.gallery-container {
    display: flex;
    align-items: center;
    text-align: center;
}

.gallery__buttom-list {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}

.gallery__buttom-item {
    margin-right: 8px;
}

.gallery__button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    min-width: 73px;
    color: var(--second-button-color);
    border: 1px solid transparent;
    font-family: inherit;
    text-align: center;
    background: #f5f4fa;
    border-radius: 4px;
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    padding-left: 22px;
    outline: none;
    transition-property: background-color, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            color: var(--main-button-color);
            background-color: var(--buttom-accent-color);
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
        }
}

.gallery__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
}

.gallery__item {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    opacity: 1;
        &:hover,
        &:focus {
        background: #ffffff;
        box-sizing: border-box;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
        }
}

.gallery__link {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
        display: block;
        }
}

.gallery__overlay {
    position: relative;
    overflow: hidden;
}

.gallery__text-card {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(33, 150, 243, 0.9);
    padding: 63px;
    color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    overflow: auto;
    padding: 63px, 24px;
    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        .gallery__item:hover & {
        transform: translateY(0);
        }
}

.gallery__title-text {
    border: 1px solid #eeeeee;
    border-top: none;
    box-sizing: border-box;
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
}

.gallery__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--second-tittle-color);
    margin-bottom: 4px;
}

.gallery__text {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}