:root {
    --main-tittle-color: #ffffff;
    --second-tittle-color: #212121;
    --main-text-color: #757575;
    --second-text-color: #212121;
    --accent-text-color: #2196f3;
    --main-button-color: #ffffff;
    --second-button-color: #212121;
    --header-text-color: #212121;
    --connection-color: #757575;
    --first-logo-color: #2196f3;
    --second-logo-color: #000000;
    --footer-logo-color: #ffffff;
    --address-color: #ffffff;
    --contact-online: rgba(255, 255, 255, 0.6);
    --buttom-accent-color: #2196f3;
    --social-main-color: #afb1b8;
    --social-accent-color: #2196f3;
}